form{
    width: 70%;
    height: 70vh;
    border: 1px solid black;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
}

div {
    padding: 10px;
}

button{
    padding: 10px;
    margin-left: 20px;
}

span{
    padding-right: 0 ;
}